body {
  background-color: #242624;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px #000;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

label {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  z-index: 1;
}

input[type="text"] {
  font-size: 24px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  z-index: 1;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

button[type="submit"]:hover {
  background-color: #666;
  z-index: 1;
}


.gif-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin-top: 20px; /* ajouter une marge supérieure pour éviter le chevauchement */
  width: 250px; /* largeur de 200 pixels */
  height: 250px; /* hauteur de 200 pixels */
}


