#letter {
    background-image: url('https://github.com/Zarcanis/pandorota/blob/aec734338bff6dceb4fd210e47681fff3549bd95/parchment.jpg');
    background-size: cover;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    max-width: 800px;
    border: 1px solid black;
  }
