* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #114B5F;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}
#container {
    width: 500px;
    height: 500px;
    background: #E4FDE1;
    margin: 10px auto;
}
